# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.pytest_cache/
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
*.virtualenv/

# IDE and text editor files
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Test and coverage
.coverage
.tox/
htmlcov/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache
